<% var navbar_affixed = navbar_affixed || false; %>
<% var no_footer = no_footer || false; %>
<% var narrow_footer = narrow_footer || false; %>
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>GeoJS - <%= page.title %></title>

    <!-- Bootstrap Core CSS -->
    <%- css("vendor/bootstrap/css/bootstrap.min.css") %>

    <!-- Custom Fonts -->
    <%- css("vendor/font-awesome/css/font-awesome.min.css") %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <%- css("css/agency.css") %>
    <%- css("css/main.css") %>
    <%- css("css/highlight.css") %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" integrity="sha384-0s5Pv64cNZJieYFkXYOTId2HMA2Lfb6q2nAcx2n0RTLUnCAoTTsS0nKEO27XyKcY" crossorigin="anonymous"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js" integrity="sha384-ZoaMbDF+4LeFxg6WdScQ9nnR1QC2MIRxA1O9KWEXQwns1G8UNyIEZIQidzb0T1fo" crossorigin="anonymous"></script>
    <![endif]-->
    
    <!-- jQuery -->
    <%- js("vendor/jquery/jquery.min.js") %>

    <!-- Bootstrap Core JavaScript -->
    <%- js("vendor/bootstrap/js/bootstrap.min.js") %>
    
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
</head>

<body id="page-top" class="index">
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top<% if (navbar_affixed){ %> affix<% } %>">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span><i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="<%- url_for("/") %>"><img class="navbar-logo" src="<%- url_for("images/logo_transparent.png") %>" /></a>
            </div> 
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="<% if(path === "index.html"){ %> active <% } %>">
                        <a href="<%- page_url("/") %>">Welcome</a>
                    </li>
                    <li class="<% if(path.indexOf('tutorial')!==-1){ %> active <% } %>">
                        <a href="<%- page_url("tutorials") %>">Tutorials</a>
                    </li>
                    <li class="<% if(path.indexOf('example')!==-1){ %> active <% } %>">
                        <a href="<%- page_url("examples") %>">Examples</a>
                    </li>
                    <li>
                        <a href="https://github.com/OpenGeoscience/geojs">GitHub</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="content-wrapper">
        <%- body %>
    </div>
    <% if (!no_footer){ %>
    <footer class="<% if (narrow_footer) { %> narrow<% } %>">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/OpenGeoscience/geojs"><i class="fa fa-github"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <span class="copyright">Licensed under the <a href="https://github.com/OpenGeoscience/geojs/blob/master/LICENSE">Apache License 2.0</a></span>
                </div>
                <div class="col-md-3">
                    <ul class="list-inline quicklinks">
                        <li><a href="http://www.kitware.com">Kitware</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <% } %>
    <!-- Theme JavaScript -->
    <%- js("js/agency.js") %>

</body>

</html>
