doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="shortcut icon", href="data:image/x-icon;,", type="image/x-icon")
    title= title

    // include the main bundle
    script(type='text/javascript', src=bundle, charset='UTF-8')

    // include example sources
    block exampleHeader
      // Include example specific files
      each css in exampleCss
        link(rel="stylesheet", href=css)
      each src in exampleJs
        if(typeof src === "string")
          script(type="text/javascript", src=src)
        else
          script&attributes(src)

  body
    if !hideNavbar
      // Add a navbar
      nav.navbar.navbar-default(role="navigation")
        .container-fluid
          .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target="gj-navbar-collapse")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="https://github.com/OpenGeoscience/geojs", target="gj-homepage") GeoJS

          .collapse.navbar-collapse#gj-navbar-collapse
            block headerButtons
            ul.nav.navbar-nav.navbar-right
              block screenShot
                li
                  a.gj-screenshot-link(tabindex=0)
                    | Screenshot
                li.gj-screenshot-waiting
                  a ...
                li.gj-screenshot-result
                  a.gj-screenshot-download(download='screenshot.png')
                    img
              block showSource
                if docHTML
                  li
                    a.gj-show-source-link(href=docHTML, target="gj-docco")
                      | Source
              if !about.hidden
                li
                  a.gj-show-about-link(href="#", data-toggle="modal", data-target="#about-modal")
                    | About

      if ! about.hidden
        // Add an about modal dialog
        .modal.fade#about-modal
          .modal-dialog.modal-md
            .modal-content
              .modal-header
                h4.modal-title !{about.title || title}
              .modal-body
                p.text-left !{about.text}
                p.text-right © Kitware, Inc.
              .modal-footer
                button.btn.btn-primary(data-dismiss="modal", data-target="#about-modal") Close

    // Add the default main content element
    block mainContent
      #map
